/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #3f51b5;
  --ion-color-primary-rgb: 63,81,181;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #37479f;
  --ion-color-primary-tint: #5262bc;

  --ion-color-secondary: #757575;
  --ion-color-secondary-rgb: 117,117,117;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #676767;
  --ion-color-secondary-tint: #838383;

  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82,96,255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45,211,111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235,68,90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #002984;
  --ion-color-dark-rgb: 0,41,132;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #002474;
  --ion-color-dark-tint: #1a3e90;

  --ion-color-medium: #494949;
  --ion-color-medium-rgb: 73,73,73;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #404040;
  --ion-color-medium-tint: #5b5b5b;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --font-size:18px;

  --ion-background-color: #a4a4a4;
  --ion-background-color-rgb: 164,164,164;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;

  --ion-color-step-50: #a9a9a9;
  --ion-color-step-100: #adadad;
  --ion-color-step-150: #b2b2b2;
  --ion-color-step-200: #b6b6b6;
  --ion-color-step-250: #bbbbbb;
  --ion-color-step-300: #bfbfbf;
  --ion-color-step-350: #c4c4c4;
  --ion-color-step-400: #c8c8c8;
  --ion-color-step-450: #cdcdcd;
  --ion-color-step-500: #d2d2d2;
  --ion-color-step-550: #d6d6d6;
  --ion-color-step-600: #dbdbdb;
  --ion-color-step-650: #dfdfdf;
  --ion-color-step-700: #e4e4e4;
  --ion-color-step-750: #e8e8e8;
  --ion-color-step-800: #ededed;
  --ion-color-step-850: #f1f1f1;
  --ion-color-step-900: #f6f6f6;
  --ion-color-step-950: #fafafa;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #3f51b5;
    --ion-color-primary-rgb: 63,81,181;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #37479f;
    --ion-color-primary-tint: #5262bc;
  
    --ion-color-secondary: #757575;
    --ion-color-secondary-rgb: 117,117,117;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #676767;
    --ion-color-secondary-tint: #838383;
  
    --ion-color-tertiary: #5260ff;
    --ion-color-tertiary-rgb: 82,96,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #4854e0;
    --ion-color-tertiary-tint: #6370ff;
  
    --ion-color-success: #2dd36f;
    --ion-color-success-rgb: 45,211,111;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255,255,255;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #42d77d;
  
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255,196,9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;
  
    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235,68,90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;
  
    --ion-color-dark: #002984;
    --ion-color-dark-rgb: 0,41,132;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #002474;
    --ion-color-dark-tint: #1a3e90;
  
    --ion-color-medium: #494949;
    --ion-color-medium-rgb: 73,73,73;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255,255,255;
    --ion-color-medium-shade: #404040;
    --ion-color-medium-tint: #5b5b5b;
  
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244,245,248;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;


  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #a4a4a4;
    --ion-background-color-rgb: 164,164,164;
  
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;
  
    --ion-color-step-50: #a9a9a9;
    --ion-color-step-100: #adadad;
    --ion-color-step-150: #b2b2b2;
    --ion-color-step-200: #b6b6b6;
    --ion-color-step-250: #bbbbbb;
    --ion-color-step-300: #bfbfbf;
    --ion-color-step-350: #c4c4c4;
    --ion-color-step-400: #c8c8c8;
    --ion-color-step-450: #cdcdcd;
    --ion-color-step-500: #d2d2d2;
    --ion-color-step-550: #d6d6d6;
    --ion-color-step-600: #dbdbdb;
    --ion-color-step-650: #dfdfdf;
    --ion-color-step-700: #e4e4e4;
    --ion-color-step-750: #e8e8e8;
    --ion-color-step-800: #5e5050;
    --ion-color-step-850: #f1f1f1;
    --ion-color-step-900: #f6f6f6;
    --ion-color-step-950: #fafafa;
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #a4a4a4;
    --ion-background-color-rgb: 164,164,164;
  
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;
  
    --ion-color-step-50: #a9a9a9;
    --ion-color-step-100: #adadad;
    --ion-color-step-150: #b2b2b2;
    --ion-color-step-200: #b6b6b6;
    --ion-color-step-250: #bbbbbb;
    --ion-color-step-300: #bfbfbf;
    --ion-color-step-350: #c4c4c4;
    --ion-color-step-400: #c8c8c8;
    --ion-color-step-450: #cdcdcd;
    --ion-color-step-500: #d2d2d2;
    --ion-color-step-550: #d6d6d6;
    --ion-color-step-600: #dbdbdb;
    --ion-color-step-650: #dfdfdf;
    --ion-color-step-700: #e4e4e4;
    --ion-color-step-750: #e8e8e8;
    --ion-color-step-800: #ededed;
    --ion-color-step-850: #f1f1f1;
    --ion-color-step-900: #f6f6f6;
    --ion-color-step-950: #fafafa;
  }
}


.clearfix::after{
  content: "";
  clear: both;
  display: block;
}

ion-skeleton-text{
  background: var(--ion-color-step-850);
}

.input-with-background{
  --background:var(--ion-color-step-750);
    background:var(--ion-color-step-750);
    margin-bottom: 5px;
    
}


ion-button ion-spinner{
  height: 100%;
}
ion-toolbar{
  color: white;
}

.picker-wrapper.sc-ion-picker-md,.picker-wrapper.sc-ion-picker-ios{
  background: white;
  color: black;
}

.checkbox-icon{
  border: 1px solid var(--ion-color-primary);
}

.alert-wrapper.sc-ion-alert-md,.alert-wrapper.sc-ion-alert-ios{
  background:var(--ion-color-secondary);
}
.alert-wrapper.sc-ion-alert-md button,.alert-wrapper.sc-ion-alert-ios button{
  color:white;
}
.alert-head.sc-ion-alert-md h2,.alert-head.sc-ion-alert-ios h2{
  color:white;
}
.alert-head.sc-ion-alert-md+.alert-message.sc-ion-alert-md,
.alert-head.sc-ion-alert-md+.alert-message.sc-ion-alert-ios{
  color:white;
}
.action-sheet-group.sc-ion-action-sheet-md,.action-sheet-group.sc-ion-action-sheet-ios{
  background:var(--ion-color-secondary);
}
.action-sheet-container,.action-sheet-group,.action-sheet-button{
  --color:white;
  color:white;
}
.action-sheet-button.sc-ion-action-sheet-md,.action-sheet-button.sc-ion-action-sheet-ios{
  --color:white;
  color:white;
}

ion-tab-button ion-label{
  font-size: var(--font-size);
  font-weight: bold;
  color: white;
}
.tab-selected{
  border-bottom: 2px solid white;
  color: var(--ion-text-color);
}

.tab-items{
  width: 100%;
  flex-wrap: wrap;
  
  padding-top: 15px;

  display: flex;
  letter-spacing: 1px;
}
.tab-items a {
  width: 100%;
  text-decoration: none;
  color: var(--ion-text-color);
  display: flex;
  flex-wrap: wrap;
}
.tab-item-title{
  margin: 0;
  width:100%;
  font-weight: bold;
}
.tab-item-detail{
  width: fit-content;
  display: flex;
}
.tab-items p:nth-child(2){
  width: 50%;
  display: flex;
  justify-content: flex-start;
}
.tab-items p:nth-child(3){
  width: 50%;
  display: flex;
  justify-content: flex-end;
}


.tab-item-detail ion-badge{
  display: inherit;
  color:white;
  width: fit-content;
  margin-left: 5px;
}


ion-spinner{
  color: var(--ion-color-primary);
  width: 100%;
  height: 50px;
}

.no-items{
  color: black;
  text-align: center;
}

/* homewroks */

.master-uploads-container{
  width: 25%;
  height: fit-content;
  margin: 0 5px 5px 0;
  position: relative;
}

.master-uploads-container p{
  color: var(--ion-color-primary);
  text-align: center;
  margin: 0;
}

.master-upload-box{
  width: 80px;
  height: 80px;
  margin: 0 5px 5px 0;
  position: relative;
  background:var(--ion-color-step-750);
  position: relative;
}
.master-upload-box input{
    width: 80px;
  height: 80px;
  position: absolute;
  background: none;
  opacity: 0;
  z-index: 2;
}

.master-upload-box ion-icon{
    color: var(--ion-icon-color);
  position: absolute;
  right: 0;
  font-size: 80px;
  z-index: 1;
}

.master-uploads-container ion-icon{
  color: black;
  
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
}
.master-uploads-container ion-spinner{
  position: absolute;
  /* right: 0; */
  top: 12px;
  
}

#master-upload-outer-container{
      display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.master-uploads-extention{
      width: 80px;
 color: black;
  height: 80px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
      font-size: 25px;
}

.break-segments{
  color: var(--ion-color-primary);
  margin-top: 0;
  font-size: 20px;
  font-weight: bold;
}